* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

h1 {
    background-color: rgb(197, 197, 68);
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

body {
    position: relative;
}

.container {
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    /* position: absolute; */
    margin: auto;
    /* left: 37.5%;
    top: 200px; */
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 2px solid black;
    /* margin: 1rem; */
    text-align: center;
    vertical-align: center;
}

